<div class='edit-skills__telephony-queue telephony-queue'>
    <h2 class='telephony-queue__title'>Очереди телефонии</h2>
    <div class='telephony-queue__input-wrapper'> 
        <input
            class='input telephony-queue__input'
            [formControl]='form.controls[i]'
            *ngFor='let control of form.controls; index as i'>
        <div 
            class='telephony-queue__delete'
            (click)='deleteTelephoneQueue()'>
                <img 
                    src='assets/img/delete.svg' 
                    alt=''
                    [ngClass]='getStyle()'>
        </div>
    </div>
    <app-ui-button 
        class='telephony-queue__button'
        buttonStyle='button_cancel'
        (click)='addTelephoneQueue()'>
        Добавить очередь телефонии
    </app-ui-button>
</div>

<!-- <input [formControl]='control'> -->