@import '../../vars/colors.less';
@import '../../vars/dimensions.less';

.profession-about {
  &__description {
    margin: @indent-from-title 0 0 0;
  }

  &__title {
    font-size: @title-font-size;
    margin: 0;
  }

  &__input {
    box-sizing: border-box;

    &::placeholder {
      color: @input-font-color;
    }
  }
}
