<div class='skills-type'>
    <h2 class='skills-type__title'>Тип скила</h2>
    <div class='skills-type__wrapper'>
        <label class='skills-type__label skills-type__label_left'> Ручной
            <input class='skills-type__radio' type='radio' value='ручной' name='type' >
        </label>
        <label class='skills-type__label skills-type__label_right'> С очередями телефонии
            <input class='skills-type__radio' type='radio' name='type' value='телефония'>
        </label>
    </div>
</div>