    <div class='page-content__wrapper'>
	  <section 
	  		[formGroup]='editSkillForm'
            class='edit-skills' 
            *ngIf='skill && editSkillForm'>
        <h1 
            class='edit-skills__title' 
            >
            Редактирование скилла
        </h1>
		<app-ui-input 
			[controlName]='getFormControl("skillName")'
            class='edit-skills__input' 
            >
		</app-ui-input>
        <app-skills-type 
            class='edit-skills__type' 
            [type]='skill.type'>
        </app-skills-type>
        <app-telephony-queue 
            [queues]='skill.telephonyQueues'>
        </app-telephony-queue>
        <app-queue-groups 
            class='edit-skills__queue-groups' 
            [value]='skill.selectedQueueGroups'>
        </app-queue-groups>
        <div class='edit-skills__save skills-save'>
          <app-ui-button 
                class='skills-save__save' 
                buttonStyle='button_confirmation'>
            Сохранить изменения
          </app-ui-button>
          <app-ui-button 
                class='skills-save__cancel' 
                buttonStyle='button_cancel' 
                routerLink=''>
            Отмена
          </app-ui-button>
          <app-ui-button 
                class='skills-save__delete' 
                buttonStyle='button_delete' 
                (click)='getPopUp()'>
            Удалить
          </app-ui-button>
        </div>
      </section>
    </div>
